<div id="legrandDiv">
    <nav class="nav">
        <ul>
            <li>
                <a href="">Tshirt</a></li>
            <li>
                <a href="">Catégories</a></li>
            <li>
                <a href="">Créateurs</a></li>
            <li><a href="">Matières</a></li>
        </ul>
    </nav>

    <div class="moteurRecherche">
        <div class="moteurRecherche1">
            <h1>Moteur de recherche</h1>
            <input type="search" placeholder="search" name="recherche" id="barreRecherche" />
        </div>

        <div id="lesRecherches">
            <form>
                <label>Créateurs</label>
                <select id="selectCrea">
                    <option value="all">Tous</option>
                </select>
                <label>Matières</label>
                <select id="selectMat">
                    <option value="all">Toutes</option>
                </select>
                <label>Catégories</label>
                <select id="selectCat">
                    <option value="all">Toutes</option>
                </select>
                <input type="button" value="Afficher" name="afficher" id="boutonAfficher" />
            </form>
            <p>T-shirt correspondants à la requête:
            <span id="nombreTshirt">
                <!--pour y mettre le nombre de tshirt correspondant à la recherche-->
            </span></p>

        </div>
    </div>
    <div class="listeTshirt">
        <p id="ajout">Ajouter un nouveau t-shirt
            <input type="button" value="+" name="ajout" id="boutonAjout"/>
        </p>
        <ul id="resultatTshirt">
            <!-- les li qu'on va récupérer seront raccrocher ici!-->
        </ul>

    </div>
  </div>
         <script src="Script/client.js"></script>
     <script src="Script/barreRecherche.js"></script>
     <script src="Script/filtre.js"></script>
     <script src="Script/detail.js"></script>