<style>
    #divDetail {
        background-color: pink;
        border-top:1px black solid;
    }

    .formDetail {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    .formDetail span {
        width: 150px;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    .formDetail label {
        width: 80px;
        display: inline-block;
    }

    .imgDetail {
        display: inline-block;
        margin: auto;
    }

    .tailleDetail {
        float: right;
        border: 2px black solid;
        background-color: white;
        margin-top: 10px;
        margin-right: 10px;
        width: 100px;
    }

    .tailleDetail span {
        width: 90px;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    .tailleDetail label {
        width: 25px;
        display: inline-block;
    }

    #retourListe {
        float: left;
    }

    #detailDescription {
        width: 250px;
        height: 200px;
        border:1px black solid;
        width: 270px;
        background-color:white;
    }
    #detailDescription p{

    }

    #imgListe,
    #imgDetail {
        width: 50%;
        max-width: 300px;
    }
</style>
<div id="divDetail">
    <div class="imgDetail">
        <figure>
            <img src="" alt="liste tshirt" id="imgListe" />
        </figure>
        <figure>
            <img src="" alt="details tshirt" id="imgDetail" />
        </figure>
    </div>
    <div class="formDetail">
        <label>Nom:</label>
        <span id="detailNom"></span>
        <br/>
        <label>Prix:</label>
        <span id="detailPrix"></span>
        <br/>
        <label>Date:</label>
        <span id="detailDate"></span>
        <br/>
        <label>Description</label>
        <br/>
        <p id="detailDescription"></p>
        <br/>
        <label>Createur</label>
        <span name="createur" size="1" id="detailCrea">
        </span>
        <br/>
        <label>Matière</label>
        <span name="matiere" size="1" id="detailMat">
        </span>
        <br/>
        <label>Catégorie</label>
        <span name="categorie" size="1" id="detailCat">
        </span>
        <br/>
    </div>
    <div class="tailleDetail">
        <p>Tailles:</p>
        <label>S:</label>
        <span name="tailleS" value="" id="detailS">
        </span>
        <br/>
        <label>M:</label>
        <span name="tailleM" value="" id="detailM">
        </span>
        <br/>
        <label>L:</label>
        <span name="tailleL" value="" id="detailL">
        </span>
        <br/>
        <label>XL:</label>
        <span name="tailleXL" value="" id="detailXL">
        </span>

    </div>

</div>