<style>
    #divModif{
      
        background-color: rgba(201,201,201,0.5);
   
    }
    .formDetail{
        
        display:inline-block;
        margin:0;
        padding:0;
         margin-top:10px;
    }
    .formDetail input{
        width: 150px;
        margin:0;
        padding:0;
        margin-bottom:5px;
    }
    .formDetail label{

          width: 80px;
        display: inline-block;
    }
    .imgDetail{
      
         display:inline-block;
        margin:auto;
    }
    .tailleDetail{
        float:right;
        border:2px black solid;
        background-color: white;
        margin-top:10px;
        margin-right:10px;
    }
    .tailleDetail input{
        width: 90px;
        margin:0;
        padding:0;
        margin-bottom:5px;
        
    }
    .tailleDetail label{
        width: 25px;
        display: inline-block;
    }
    #retourListeModif{
        float:left;
    }
</style>
   <div class="divModif">
<!--    <input type="button" value="-" name="retour" id="retourListeModif" />-->
       <div class="imgDetail">
    <figure>
        <img src="" alt="liste tshirt" class="modifImgListe" />
         <form class="my_form2" method="post" action="Controller/process_form.php" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*">
                <button type="submit">OK</button>
            </form>
           
        </figure>
        <figure>
            <img src="" alt="details tshirt" id="ajoutImgDetail" />
             <form class="my_form" method="post" action="Controller/process_form.php" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*">
                <button type="submit">OK</button>
            </form>
    </figure>
       </div>
    <div class="formDetail">
        <label>Nom:</label>
        <input type="text" name="nom" value="" class="modifNom" />
        <br/>
        <label>Prix:</label>
        <input type="text" name="prix" value="" class="modifPrix" />
        <br/>
        <label>Date:</label>
        <input type="text" name="date" value="" class="modifDate" />
        <br/>
        <label>Description</label>
        <textarea name="desciption" class="modifDescription"></textarea>
        <br/>
        <label>Createur</label>
        <SELECT name="createur" size="1" class="modifCrea">
            <option>Default</option>
        </SELECT>
        <br/>
        <label>Matière</label>
        <SELECT name="matiere" size="1" class="modifMat">
            <option>Default</option>
        </SELECT>
        <br/>
        <label>Catégorie</label>
        <SELECT name="categorie" size="1" class="modifCat">
            <option>Default</option>
        </SELECT>
        <br/>
    </div>
    <div class="tailleDetail">
        <label>S:</label>
        <input type="text" name="tailleS" value="" class="modifS" />
        <br/>
        <label>M:</label>
        <input type="text" name="tailleM" value="" class="modifM" />
        <br/>
        <label>L:</label>
        <input type="text" name="tailleL" value="" class="modifL" />
        <br/>
        <label>XL:</label>
        <input type="text" name="tailleXL" value="" class="modifXL" />
        <br/>
    </div>
<input type="button" value="sauvegarder" name="sauvegarder" class="modifSauvegarder"/>
<input type="button" value="annuler" name="annuler" class="modifAnnuler"/>
</div>
