<!--<div id="divSupprimer">
    
     <input type="radio" name="supprimerOui" value="oui" id="supprimerOui" /> <label for="moins15">MOUI</label><br />
       <input type="radio" name="supprimerNon" value="non" id="supprimerNon" /> <label for="NOP">NOP</label><br />
          <input type="submit" name="valider" value="valider" id="valider" /> 
</div>
-->
<style>
    .suppressionDetail{
  
    }
</style>
<div class="suppressionDetail">
<label>Supprimer?</label>
<br/>
<input type="button" value="oui" class="valider">


<input type="button" value="non" class="annuler">